page-iniciativas{
    .botao {
        width: 120px;
        height: 140px;
        font-size: 10px;
        text-align: center;
    }
    .imagem {
        max-width: 90px;
        max-height: 110px;
        width: auto;
        height: auto;
    }
    
}
