page-servico {
    .inner{
        height: auto;
        ion-card{
            display: table-cell;
            border: solid 0px #ccc;
            border-radius: 50%;
        }
        button{
            border-radius: 50%;
        }
    }

    .haha{
        height: 100%;
    }

}