<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>CLASSIFICAÇÃO</ion-title>
      <ion-note>
        <p>2° ANO - 1° SEMESTRE</p>
        <p>ORDENAÇÃO - MÉDIA GERAL</p>
      </ion-note>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-navbar *ngFor="let cla of classificacao">
        <ion-card *ngFor="let aluno of cla.alunos">
          <ion-row>
            <ion-col col-2>{{ aluno.classif }}</ion-col>
            <ion-col>{{ aluno.nome }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ aluno.especialidade }}</ion-col>
            <ion-col>{{ aluno.carreira }}</ion-col>
            <ion-col>{{ aluno.curso }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngFor="let nota of aluno.notas">{{ nota.title }} : {{ nota.note }}</ion-col>
          </ion-row>
        </ion-card>
      </ion-navbar>
    </ion-list>
  </ion-content>