<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Boletim</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  
        <button ion-button>2018.2</button>
        <button ion-button>2018.1</button>
        <button ion-button>2017.2</button>
        <button ion-button>2017.1</button>

  <ion-list>
    <ion-navbar *ngFor="let sem of boletim" >
      <button menuClose ion-item *ngFor="let item of sem.disciplinas" (click)="disciplinaPage()">
        <ion-title>{{ item.title }}</ion-title>
        <div menuClose ion-item *ngFor="let note of item.notas">
            <ion-icon [name] = "note.icon" item-start></ion-icon>
            {{ note.title }} 
            <div item-end>{{ note.note }}</div>
        </div>
      </button>
    </ion-navbar>
  </ion-list>

</ion-content>