<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Boletim</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-scroll scrollX = "true" style="height: 100px">
    <div class = "inner">
      <ion-card><button ion-button>2018.2</button></ion-card>
      <ion-card><button ion-button>2018.2</button></ion-card>
      <ion-card><button ion-button>2018.2</button></ion-card>
      <ion-card><button ion-button>2018.2</button></ion-card>
      <ion-card><button ion-button>2018.2</button></ion-card>
      <ion-card><button ion-button>2018.2</button></ion-card>
      <ion-card><button ion-button>2018.2</button></ion-card>
      <ion-card><button ion-button>2018.2</button></ion-card>

    </div>
  </ion-scroll>

  <ion-list>
    
    <ion-navbar *ngFor="let sem of boletim" >
      <button menuClose ion-item *ngFor="let item of sem.disciplinas" (click)="disciplinaPage()">
        <ion-title>{{ item.title }}</ion-title>
        <div menuClose ion-item *ngFor="let note of item.notas">
            <ion-icon [name] = "note.icon" item-start></ion-icon>
            {{ note.title }} 
            <div item-end>{{ note.note }}</div>
        </div>
      </button>
    </ion-navbar>
  </ion-list>

</ion-content>